<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>		
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>			
  <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/screen.css" />
  <title>{% block title %}Untitled{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    <div id="footer">
      &copy; 2009 — <a class="nav" href="http://www.yoursway.com/">YourSway LLC</a>
    </div>
  </div>
</body>	
</html>
